 # Ignorar archivos temporales
**/*tmp

# Ignorar archivos compilados
**/*.o

# Ignorar archivos ejecutables
**/*exe

# Ignorar directorios y archivos generados por IDEs
**/.idea/
**/.vscode/
**/cmake-build-debug/

# Ignorar archivo .DS_Store generado por el Finder
**/.DS_Store