#Ignorar imagenes
#**/*.png



# Carpetas de clase con contenidos privado

# llaves ssh
**/llaves

**/Base

# Ignorar archivos temporales
**/*tmp

# Ignorar archivos compilados
**/*.o

# Ignorar archivos ejecutables
**/exe*

# Ignorar directorios y archivos generados por IDEs
**/.idea/
**/.vscode/
**/cmake-build-debug/

# Ignorar archivo .DS_Store generado por el Finder
**/.DS_Store

# Ignorar archivos x86.64
# godot
*/godot.x86_64
