/* =========================================
   MAIN y CONTENIDO CENTRAL (CONTACTO)
   ========================================= */

main section#sobreMi article {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "title title"
        "image text";

    align-items: center;
    padding: 1.5em;
    gap: 3em;
}

main section#sobreMi article img {
    grid-area: image;
}

main section#sobreMi article h2 {
    grid-area: title;
}

main section#sobreMi article ul {
    grid-area: text;
    margin-top: 0.5em;
}

main section#sobreMi article ul li {
    margin-bottom: 0.3em;
