/* =========================================
   MAIN y CONTENIDO CENTRAL (SOBRE NUESTRA AGENCIA)
   ========================================= */

main section#mainSucursales{
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 100%;
    max-width:900px;
    margin: 0 auto;
}

main section#mainSucursales article {
   width:65%;
   max-width: none;
}