/* =========================================
   GENERAL Y RESPONSIVE BÁSICO
   ========================================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* =========================================
   BODY Y FONDO (BLOQUEO DE PANTALLA)
   ========================================= */

body{
    display: grid;
    grid-template-rows: auto 1fr auto; 
    grid-template-columns: auto 1fr auto;

    grid-template-areas :
        "header header header"
        "nav main aside"
        "footer footer footer";
    
    min-height: 100vh;

    background-image: url("../images/fondo.png"); 
    background-size: cover; 
    background-attachment: fixed; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-color: #F8F9FA; 

    color: #1A1A1A; 
    font-family: 'Montserrat', sans-serif; 
}

p{
    text-align: justify;
    padding: 0.5em;
}

section article{
    padding: 1.5em;
    max-width: 35em;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0.6em;
    box-shadow: 0 0.3em 0.8em rgba(0,0,0,0.1);
}

img {
    max-height: 25vh; /* Altura controlada para dejar espacio a lo demás */
    width: auto; 
    border-radius: 0.6em;
    margin-top: 1em;
}

iframe {
    border: none;
    border-radius: 0.6em;
    box-shadow: 0 0.3em 0.8em rgba(0,0,0);
}

aside{
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0.6em;
    box-shadow: 0 0.3em 0.8em rgba(0,0,0,0.1);
    padding: 1em;
}
/* =========================================
   HEADER y FOOTER
   ========================================= */
footer {
    display: flex; 
    align-items: center; 
    justify-content: center;
    padding: 1em 2em;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.85); 
    grid-area: footer;
}

header {
    grid-area: header;
    position: sticky;
    top: 0;
    z-index: 1000; 
    background-color: rgba(255, 255, 255, 0.85); 
    padding: 1em 2em;
    
    display: grid;
    grid-template-columns: 1fr auto 1fr; 
    grid-template-areas: 
        "nombreDecor logoHeader signUpForm"
        "menuHeader menuHeader menuHeader"; 
    align-items: center;
    row-gap: 1em; 
}

h1.nombreDecor {
    grid-area: nombreDecor;
    justify-self: start; /* Lo pega a la izquierda */
    font-size: 2.2em; 
    font-weight: 300; 
    color: #B59349; 
    text-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.1); 
    margin: 0;
}

header #logoHeader {
    grid-area: logoHeader;
    justify-self: center; /* Lo centra perfectamente */
    width: 8em; 
    height: auto;
}

/* =========================================
   MENÚ DE NAVEGACIÓN
   ========================================= */

nav{
    grid-area: nav;
    display: flex;
    width: 100%; /* Obliga al menú a bajar a su propia línea en la cabecera */
    justify-content: center;
    margin-top: 1em;
}

nav#menuHeader {
    grid-area: menuHeader;
    justify-self: center; /* Lo centra en su fila */
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1.5em; 
}

nav ul li a {
    text-decoration: none;
    color: #1A1A1A;
    font-size: 1.1em;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    transition: all 0.3s ease; 
}

nav ul li a:hover {
    background-color: #515151;
    color: white; 
}

/* Pie de página */
footer nav#menuFooter ul li {
    align-items: center;
    justify-self: center;
}

main{ 
    grid-area:main;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    padding: 1em;
}

/* =========================================
   MEDIA QUERIES (MÓVILES)
   ========================================= */
@media (max-width: 768px) {
    body{
        grid-template-columns: 1fr;
        grid-template-rows: auto minmax(5rem, auto) 1fr minmax(5rem, auto) auto;
        grid-template-areas :
            "header"
            "nav"
            "main"
            "aside"
            "footer";
        gap: 1.8em;
    }
    header {
        grid-template-columns: 1fr;
        grid-template-areas:
            "nombreDecor"
            "logoHeader"
            "signUpForm"
            "menuHeader";
        justify-items: center; /* Centra todo en el móvil */
        text-align: center;
        position: static;
    }
    header #logoHeader {
        width: 6em; 
    }

    footer{
        flex-direction: column;
        gap: 0.5em;
        justify-self:center;
        align-self: center;
    }

    header .nombreDecor { flex: none; }
    
    header #logoHeader {
        position: static;
        transform: none;
        width: 6em; 
        margin: 0 auto;
    }

    nav ul {
        flex-direction: column;
    }
}