/* =========================================
   GENERAL Y RESPONSIVE BÁSICO
   ========================================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* =========================================
   BODY Y FONDO (BLOQUEO DE PANTALLA)
   ========================================= */

body{
    display: grid;
    grid-template-rows: auto 1fr auto; 
    grid-template-columns: auto 1fr auto;

    grid-template-areas :
        "header header header"
        "nav main aside"
        "footer footer footer";
    
    min-height: 100vh;

    background-image: url("../imagenes/fondo.png"); 
    background-size: cover; 
    background-attachment: fixed; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-color: #F8F9FA; 

    color: #1A1A1A; 
    font-family: 'Montserrat', sans-serif; 
}

main{ 
    grid-area:main;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    padding: 1em;
}

p{
    position: relative;
    text-align: justify;
    padding: 0.5em;
}

p.error{
    color: #B00020;
    font-weight: bold;
    background-color: #F8F9FA;
    border-radius: 0.6em;
    border: 1px solid #B00020;
    margin: 1em 0;
}

p.informativo{
    color: #1A1A1A;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0.6em;
    border: 1px solid #1A1A1A;
    margin: 1em 0;
}

section article{
    padding: 1.5em;
    max-width: 35em;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0.6em;
    box-shadow: 0 0.3em 0.8em rgba(0,0,0,0.1);
}

img {
    max-height: 25vh; 
    width: auto; 
    border-radius: 0.6em;
    margin-top: 1em;
}

iframe {
    border: none;
    border-radius: 0.6em;
    box-shadow: 0 0.3em 0.8em rgba(0,0,0);
}

aside{
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0.6em;
    box-shadow: 0 0.3em 0.8em rgba(0,0,0,0.1);
    padding: 1em;
}

hr {
    grid-area: linea;
    color: #ccc;
    margin: 0.2em;
}

/* =========================================
   HEADER y FOOTER
   ========================================= */

header {
    grid-area: header;
    position: sticky;
    top: 0;
    z-index: 1000; 
    background-color: rgba(255, 255, 255, 0.85); 
    padding: 1em 2em;
    
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-areas: 
        "logoHeader nombreDecor signUpForm"
        "menuHeader menuHeader menuHeader"; 
    align-items: center;
    row-gap: 1em; 
    column-gap: 1.5em;
}

h1#nombreDecor {
    grid-area: nombreDecor;
    justify-self: start; /* Lo pega a la izquierda */
    font-size: 2.2em; 
    font-weight: 300; 
    color: #B59349; 
    text-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.1); 
    margin: 0;
}

main section h2 {

    justify-self: center;
    justify-content: center;
    padding: 1em;
    background-color: #F8F9FA;
    border-radius: 14em;
    margin-bottom: 0.5em;

}

header #logoHeader {
    grid-area: logoHeader;
    justify-self: center; /* Lo centra perfectamente */ 
    width: 8em; 
    height: auto;
}

footer {
    display: flex; 
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    padding: 1em 2em;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.85); 
    grid-area: footer;
}

footer nav#menuFooter ul li {
    align-items: center;
    justify-self: center;
}

div#userMenu {
    display: flex;
    flex-direction:column;
    align-items: center;
    gap: 0.7em;
}

header > #userMenu {
    grid-area: signUpForm;
    justify-self: end;
    align-self: center;
}

div#userMenu div#avatar {
    width: 2.8em;
    height: 2.8em;
    border-radius: 50%;
    background: #F8F9FA;
    border: 0.15em solid #B59349;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0.5em;
    margin: 0.5em;

    font-weight: 600;
    font-size: 1em;
    color: #B59349;
}

div#userMenu div#avatar:hover {
    cursor: pointer;
    background: #ccc;
    transform: scale(1.1);
}

div#userMenu div#userName{
    font-size: 0.95em;
    font-weight: 500;
}

/* =========================================
   MENÚ DE NAVEGACIÓN
   ========================================= */

nav{
    grid-area: nav;
    display: flex;
    width: 100%; /* Obliga al menú a bajar a su propia línea en la cabecera */
    justify-content: center;
    margin-top: 1em;
}

nav#menuHeader {
    grid-area: menuHeader;
    justify-self: center; /* Lo centra en su fila */
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1.5em; 
}

nav ul li a, details, #Session{
    text-decoration: none;
    color: #1A1A1A;
    font-size: 1.1em;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    transition: all 0.3s ease; 
}

details summary{
    list-style: none;
    text-align: left;
}

nav ul li a:hover, details:not([open]):hover, #Session:hover {
    background-color: #515151;
    color: white; 
    cursor: pointer;
}

details[open],
details[open]:hover{
    cursor: pointer
}

/* =========================================
   MEDIA QUERIES (MÓVILES)
   ========================================= */
@media (max-width: 768px) {
    body{
        grid-template-columns: 1fr;
        grid-template-rows: auto minmax(5rem, auto) 1fr minmax(5rem, auto) auto;
        grid-template-areas :
            "header"
            "nav"
            "main"
            "aside"
            "footer";
        gap: 0.2em;
    }
    header {
        grid-template-columns: 1fr;
        grid-template-areas:
            "nombreDecor"
            "logoHeader"
            "signUpForm"
            "menuHeader";
        justify-items: center; /* Centra todo en el móvil */
        text-align: center;
        position: static;
        padding-bottom: 0.5em;
    }
    header #logoHeader {
        width: 6em; 
    }

    footer{
        flex-direction: column;
        gap: 0.5em;
        justify-self:center;
        align-self: center;
    }

    header #nombreDecor { flex: none; }
    
    header #logoHeader {
        position: static;
        transform: none;
        width: 6em; 
        margin: 0 auto;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    main {
        padding-top: 0; 
        
        padding-left: 1em;
        padding-right: 1em;
        padding-bottom: 1em;
        
        gap: 0.5em; 
    }
}